:root {
    --main-color: #2196F3;
    --main-color-alt: #1787E0;
    --main-transition-duration: .3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Cairo', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-title {
    margin: 0 auto 80px;
    border: 2px solid #000;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}

.main-title::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move .5s linear forwards;
    -webkit-animation: left-move .5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move .5s linear forwards;
    -webkit-animation: right-move .5s linear forwards;
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

.main-title:hover {
    color: #fff;
    border: 2px solid #fff;
    transition-delay: .5s;
}

@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

#root,
#__next {
    isolation: isolate;
}

header {
    background-color: #fff;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    display: flex;
}

header ul>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    position: relative;
    color: #000;
    padding: 0 30px;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
    overflow: hidden;
}

header .toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    right: 21px;
    font-size: 26px;
    cursor: pointer;
    display: none;
}

header ul>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}

header ul>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

header ul>li>a:hover::before {
    left: 0;
}

header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: #fff;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: calc(100% + 9px);
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    transition: top var(--main-transition-duration), opacity var(--main-transition-duration);
    -webkit-transition: top var(--main-transition-duration), opacity var(--main-transition-duration);
    -moz-transition: top var(--main-transition-duration), opacity var(--main-transition-duration);
    -ms-transition: top var(--main-transition-duration), opacity var(--main-transition-duration);
    -o-transition: top var(--main-transition-duration), opacity var(--main-transition-duration);
    z-index: -1;
    opacity: 0;
}

header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

header .mega-menu .links li {
    position: relative;
}

header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}

header .mega-menu .links li:hover::before {
    width: 100%;
}

header .mega-menu .links li a {
    color: var(--main-color);
    display: block;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
}

header .mega-menu .links li a i {
    margin-right: 10px;
}

header ul>li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 3px);
}

@media(max-width: 991px) {
    header .mega-menu .img img {
        display: none;
    }
}

@media(max-width: 768px) {
    header .mega-menu {
        display: none;
    }
}

@media(max-width: 768px) {
    header .toggle {
        display: block;
    }

    header ul {
        display: none;
    }

    header .toggle:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--main-color);
        align-items: flex-end;
        justify-content: center;
        z-index: 1;
    }

    header .toggle:hover+ul li a {
        color: #fff;
        font-weight: 600;
        font-size: 18px;
    }

    header ul>li>a::before {
        display: none;
    }
}

.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    z-index: -1;
    transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 96px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .container .text {
    flex: 1;
}

.landing .container .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -1px;
}

.landing .container .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0;
    color: #666;
    max-width: 500px;
}

.landing .container .img img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
    -webkit-animation: up-and-down 5s linear infinite;
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    backface-visibility: visible !important;
    animation: flip 2s ease infinite;
    -webkit-animation: flip 2s ease infinite;
    -webkit-backface-visibility: visible !important;
}

@media(max-width: 991px) {
    .landing .container .img {
        display: none;
    }

    .landing .container .text {
        text-align: center;
    }

    .landing .container .text p {
        margin: 10px auto;
    }
}

@media(max-width: 767px) {
    .landing .container .text h1 {
        font-size: 28px;
    }

    .landing .container .text p {
        font-size: 18px;
    }
}

@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
        -webkit-transform: perspective(400px) rotateY(0);
        -moz-transform: perspective(400px) rotateY(0);
        -ms-transform: perspective(400px) rotateY(0);
        -o-transform: perspective(400px) rotateY(0);
        animation: ease-in-out;
        -webkit-animation: ease-out;
    }

    40% {
        transform: perspective(400px) translateZ(150px) rotateY(170deg);
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
        -moz-transform: perspective(400px) translateZ(150px) rotateY(170deg);
        -ms-transform: perspective(400px) translateZ(150px) rotateY(170deg);
        -o-transform: perspective(400px) translateZ(150px) rotateY(170deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        -moz-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        -ms-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        -o-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in;
    }

    80% {
        transform: perspective(400px) rotateY(360deg) scale(.95);
        -webkit-transform: perspective(400px) rotateY(360deg) scale(.95);
        -moz-transform: perspective(400px) rotateY(360deg) scale(.95);
        -ms-transform: perspective(400px) rotateY(360deg) scale(.95);
        -o-transform: perspective(400px) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in;
    }

    100% {
        transform: perspective(400px) scale(1);
        -webkit-transform: perspective(400px) scale(1);
        -moz-transform: perspective(400px) scale(1);
        -ms-transform: perspective(400px) scale(1);
        -o-transform: perspective(400px) scale(1);
        animation-timing-function: ease-in;
    }
}

.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .box {
    box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
    -webkit-transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
    -moz-transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
    -ms-transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
    -o-transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
}

.articles .box:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, .2);
}

.articles .box .content {
    padding: 20px;
}

.articles .box .content h3 {
    margin: 0;
}

.articles .box .content p {
    margin: 10px 0 0 0;
    line-height: 1.5;
    color: #777;
}

.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .box .info i {
    color: var(--main-color);
}

.articles .box:hover .info i {
    animation: moving-arrow .6s linear infinite;
    -webkit-animation: moving-arrow .6s linear infinite;
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}

.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .container .box {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, .13), 0px 2px 4px 0px rgba(0, 0, 0, .12)
}

.gallery .container .box .img {
    position: relative;
    overflow: hidden;
}

.gallery .container .box .img::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, .2);
    width: 0;
    height: 0;
    opacity: 0;
}

.gallery .container .box .img:hover::before {
    animation: flashing .7s;
    -webkit-animation: flashing .7s;
    z-index: 1;
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallery .container .box .img img {
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}

.gallery .container .box .img:hover img {
    transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    -moz-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
    -o-transform: rotate(5deg) scale(1.1);
}

.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #fff;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .container .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .container .box .img {
    position: relative;
    overflow: hidden;
}

.features .container .box .img::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.features .container .box .img::after {
    content: "";
    position: absolute;
    bottom: -1;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}

.features .container .box:hover .img::after {
    border-width: 170px 500px 170px 0;
}

.features .container .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .container .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}

.features .container .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}

.features .container .box a {
    display: block;
    border: 0.5px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}

.features .container .box:hover a {
    background-position: left bottom;
    color: #fff;
}

.features .quality .img::before {
    background-color: rgba(244, 64, 54, .6);
}

.features .quality h2::after {
    background-color: #f44036;
}

.features .quality a {
    color: #f44036;
    border-color: #f44036 !important;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time .img::before {
    background-color: rgba(0, 150, 136, .6);
}

.features .time h2::after {
    background-color: #009688;
}

.features .time a {
    color: #009688;
    border-color: #009688 !important;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion .img::before {
    background-color: rgba(3, 169, 244, .6);
}

.features .passion h2::after {
    background-color: #03a9f4;
}

.features .passion a {
    color: #03a9f4;
    border-color: #03a9f4 !important;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .07);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    position: relative;
}

.testimonials .box img {
    position: absolute;
    right: -7px;
    top: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 10px solid var(--section-background);
}

.testimonials .box h3 {
    margin: 0 0 10px;
}

.testimonials .box .title {
    color: #777;
    margin-bottom: 12px;
    display: block;
}

.testimonials .box .rate .filled {
    color: #ffc107;
}

.testimonials .box p {
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
}

.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team .container .box {
    position: relative;
}

.team .container .box::before {
    content: "";
    position: absolute;
    background-color: #f3f3f3;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 60px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: -2;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}

.team .container .box::after {
    content: "";
    position: absolute;
    background-color: #e4e4e4;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: -1;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}

.team .container .box:hover::after {
    width: calc(100% - 60px);
}

.team .container .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team .container .box .data img {
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
    width: calc(100% - 60px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.team .container .box:hover img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.team .container .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team .container .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .container .box .data .social a:hover i {
    color: var(--main-color);
}

.team .container .box .data .social i {
    color: #777;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}

.team .box .info {
    padding-left: 80px;
}

.team .box .info h3 {
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}

.team .box:hover .info h3 {
    color: #777;
}

.team .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}
